body {
    margin: 0;
    min-height: 100vh;
    /* background: linear-gradient(0deg, hsla(191, 75%, 60%, 1) 0%, hsla(248, 87%, 36%, 1) 100%);*/
}

.navbar {
    /*background-color: transparent !important;*/
}

.wrapper {
    max-width: 1180px;
    margin: auto;
}

.container-fluid {
    margin: auto;
    max-width: 1180px;
}

.container {
    max-width: 1180px;
    margin: auto;
    background-color: #FDFFFC;
}

.header {
    position: relative;
    width: 1180px;
    height: 400px;
    background-image: url("../images/brewdog-beer.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 80%;
    background-color: rgb(0 0 0 / 72%);
    padding: 10px;
}


.beer-img {
    max-height: 300px;
    margin: auto;
}

span.feeling {
    font-style: italic;
}
