
h1 {
  font-family: 'Bangers', sans-serif, cursive;
  color: #3498db;
  text-shadow: 2px 2px #2980b9;
  font-size: 100px;
}

h2 {
  font-family: 'Bangers', sans-serif;
  color: #3498db;
  font-size: 50px;
}

h3, p {
    font-family: 'Nunito', sans-serif;
}


.header {
    position: relative;
    height: 400px;
    background-color: #4e433e;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
}

.header-content {
    position: absolute;
    max-width: 1180px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

body {
    margin: 0;
    min-height: 100vh;
    /* background: linear-gradient(0deg, hsla(191, 75%, 60%, 1) 0%, hsla(248, 87%, 36%, 1) 100%);*/
}

.navbar {
    background-color: #4e433e !important;
}

.navbar a {
    font-family: 'Bangers';
    color: #3498db;
    font-size: 40px;
}

.wrapper {
    max-width: 1180px;
    margin: auto;
}

.container-fluid {
    margin: auto;
    max-width: 1180px;
}

.container {
    max-width: 1180px;
    margin: auto;
    background-color: #FDFFFC;
    margin-bottom: 60px;
}

.container-2 {
    background-color: #f3de2c;
}


.container-1 {
    max-width: 1180px;
    margin: auto;
    text-align: center;
}

.container-1 h2 {
    padding-top: 60px !important;
    text-align: center;
}

.beer-img {
    max-height: 300px;
    margin-right: 40px;
    float: right;
}

span.feeling {
    font-style: italic;
}

.quiz-card {
    background: white;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.quiz-card h1 {
    font-size: 40px !important;
    padding-bottom: 30px;
    border-bottom: 1px solid black;
    color: black;
    text-shadow: none;
}

.quiz {
    padding: 20px 0;
}

#question {
    font-size: 30px;
}

.btn {
    background: white;
    color: black;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    margin: 10px 0;
    cursor: pointer;
    background-clip: padding-box;
}

.btn:disabled {
    opacity: 1 !important;
    background: white !important;
}

.btn.correct:disabled {
    background: green !important;
}

.btn.incorrect:disabled {
    background: red !important;
}


#next-question {
    background: white;
    cursor: pointer;
    display: none;
}

.correct {
    background: green !important;
}

.incorrect {
    background: red !important;
}



/* CSS */
.button-76 {
  background-color: #cf245f;
  background-image: linear-gradient(to bottom right, #fcd34d, #ef4444, #ec4899);
  border: 0;
  border-radius: .25rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem; /* 18px */
  font-weight: 600;
  line-height: 1.75rem; /* 28px */
  padding: 1rem 1.25rem;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%
}

.button-76:hover {
  box-shadow: none;
  color: #fff;
}

@media (min-width: 1024px) {
  .button-76 {
    font-size: 1.5rem; /* 24px */
    padding: 1rem 1.5rem;
    line-height: 2rem; /* 32px */
  }
}

.quiz-entry {
    background-color: #f3de2c;
}

.quiz-button {
    max-width: 250px;
    margin-bottom: 100px;
}

.progress-bar {
  transition: width 0.3s ease-in-out;
}


/* General styles outside of media queries */

/* Styles for screens with a minimum width of 480px */
@media only screen and (max-width: 480px) {
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 40px;
    }

    .header-content {
        width: 100%;
    }

    .button-76 {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }

    .container-1 {
        padding: 20px;
    }

    .beer-img {
        float: none;
    }
}