body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(0deg, hsla(191, 75%, 60%, 1) 0%, hsla(248, 87%, 36%, 1) 100%);
    justify-content: center;
}


.container {
    max-width: 1280px;
    background-color: transparent;
    padding: 0;
}

.navbar {
    background-color: transparent !important;
}

.container1 {
    max-width: 1280px;
    background-color: white;
    padding: 20px;
    text-align: center;
}